/* @import url('') */
/* Earth logo ⬇ */

.earth-logo {
  position: absolute;
  height: 30vmin;
  top: 20px;
  right: 42vw;
  cursor: pointer;
  animation: earth-logo-spin infinite 20s linear;
}

@keyframes earth-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Earth logo ⬆ */

.app-header {
  display: flex;
  justify-content: flex-end;
  background-color: #282c34;
  position: relative;
}
li{
  display: inline-block;
  list-style-type: none;
  padding: 15px;
}
ul li:nth-child(n+3){
  border-left: solid 1px grey
}
.menu-item{
  display: inline block;
  color: white;
  text-decoration: none;
  text-align: center;
  margin: 25px
}

nav{
  height: 80px;
}

#hamburger{
  display: none;
}

@media(max-width: 861px){
  .menu-item-container{
    display: none; 
    background-color: #282c34;
  }
  .menu-item{
    margin: 25px 15px;
  }
  #hamburger{
    display: inline-block;
    width: 40px;
    padding: 6px 40px
  }
}

