/* @import url('') */
/* Earth logo ⬇ */

/* .earth-logo {
  position: absolute;
  height: 30vmin;
  top: 20px;
  right: 41.5vw;
  cursor: pointer;
  animation: earth-logo-spin infinite 50s linear;
} */
/* .earth-logo:hover{
  height: 30.5vmin
} */

/* @keyframes earth-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

/* Earth logo ⬆ */

/* .app-header {
  display: flex;
  justify-content: flex-end;
  background-color: #282c34;
  position: relative;
} */
/* nav{
  height: 80px;
} */

/* #hamburger{
  display: none;
} */



/* Remaining CSS to be applied as Styled Components */


.menu-item-container{ 
  display: inline-block;
  list-style-type: none;
  padding: 15px;
}
ul li:nth-child(n+2){
  border-left: solid 1px grey
}
.menu-item{
  display: inline block;
  color: white;
  text-decoration: none;
  text-align: center;
  margin: 25px
}

@media(max-width: 861px){
  .menu-item-container{
    display: none; 
    background-color: #282c34;
  }
}

@media(max-width: 861px){
  .menu-item{
    margin: 25px 15px;
  }
  #hamburger{
    display: inline-block;
    width: 40px;
    padding: 6px 40px
  }
  .earth-logo{
    right: 35vw;
  }
}
@media(max-width: 800px){
  .earth-logo{
    right: 30vw;
  }
}
