/* Remaining CSS to be applied as Styled Components */


.menu-item-container{ 
  display: inline-block;
  list-style-type: none;
  padding: 15px;
}
ul li:nth-child(n+2){
  border-left: solid 1px grey
}
.menu-item{
  display: inline block;
  color: white;
  text-decoration: none;
  text-align: center;
  margin: 25px
}

@media(max-width: 861px){
  .menu-item-container{
    display: none; 
    background-color: #282c34;
  }
}

@media(max-width: 861px){
  .menu-item{
    margin: 25px 15px;
  }
  #hamburger{
    display: inline-block;
    width: 40px;
    padding: 6px 40px
  }
  .earth-logo{
    right: 35vw;
  }
}
@media(max-width: 800px){
  .earth-logo{
    right: 30vw;
  }
}
