.Africa{
  background-image: url("../../images/ExplorerImgs/Africa.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.Europe{
  background-image: url("../../images/ExplorerImgs/Europe.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.Americas{
  background-image: url("../../images/ExplorerImgs/Americas.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.Asia{
  background-image: url("../../images/ExplorerImgs/Asia.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
.Oceania{
  background-image: url("../../images/ExplorerImgs/Oceania.jpg");
  background-repeat: no-repeat;
  background-size: cover; 
}
.Polar{
  background-image: url("../../images/ExplorerImgs/Polar.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
.Antarctic-Ocean{
  background-image: url("../../images/ExplorerImgs/Antarctic-Ocean.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.Antarctic{
  background-image: url("../../images/ExplorerImgs/Antarctic.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
